.contact-main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    box-shadow: 25px 30px 55px #1e1e1e;
}

.contact-content {
    height: 500px;
    width: 500px;
    box-shadow: 25px 30px 55px #1e1e1e;
    border-radius: 13px;
    overflow: hidden;
}

.contact-heading {
    text-align: center;
}

.form-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-form-check {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .contact-content {
        height: 500px;
        width: 400px;
    }
}

@media (max-width: 414px) {
    .contact-content {
        height: 500px;
        width: 350px;
    }
}